%h2.groups Neue Gruppe erstellen

= form_for @group do |f|
  %table.groups
    %tr
      %th
        = f.label :name
      %td
        = f.text_field :name
    %tr
      %td
      %td
        = f.submit 'Create group'
%br
= link_to _("Back to the groups"), groups_path
%br
%br