%section#content_body
  #detail-main
    %h2.section_title
      = _("My media entries")
    #results
      - @media_entries = @my_media_entries
      - unless @media_entries.empty?
        = render :partial => '/media_entries/media_entry_thumb', :collection => @media_entries, :as => :media_entry
        - if @media_entries.total_entries >= params[:per_page]
          .buttons
            = link_to _("More…"), user_media_entries_path(current_user)
      - else
        = _("You have not uploaded any media yet.")
        
    %h2.section_title
      = _("Other people's media entries")
    #results_others
      - @media_entries = @accessible_media_entries
      - unless @media_entries.empty?
        = render :partial => '/media_entries/media_entry_thumb', :collection => @media_entries, :as => :media_entry
        - if @media_entries.total_entries >= params[:per_page]
          .buttons
            = link_to _("More…"), media_entries_path(:not_by_current_user => true)
      - else
        =  _("No further media entries.")
